{% extends "nconfig/base.html" %}
{% load static %}
{% block head_extra %}
<!-- Custom styles for this template -->
<!-- href="{% static "bootstrap-3.3.5/css/dashboard.css" %}" rel="stylesheet"> -->
<link href="{% static 'bootstrap-3.3.5/css/dashboard.css' %}" rel="stylesheet">
{% endblock head_extra %}

{% block body_extra %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    {% block content %} {% endblock content %}
    <hr>
          <h2 class="sub-header">配置文件数据库信息</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>源文件名</th>
                  <th>文件加入时间</th>
                  <th>目标文件名</th>
                    <th>是否加入设备名数据库</th>
                </tr>
              </thead>
              <tbody>
                {% if all_entries %}
                    {% for entry in all_entries %}
                <tr>
                    <td id="index"><a href="{% url 'nconfig:detail' entry.filename_dst_text %}">{{ forloop.counter }}</a></td>
                    <td><a href="{% url 'nconfig:detail' entry.filename_dst_text %}">{{ entry.filename_src_text }}</a></td>
                    <td><a href="{% url 'nconfig:detail' entry.filename_dst_text %}">{{ entry.fileadd_date }}</a></td>
                    <td><a href="{% url 'nconfig:detail' entry.filename_dst_text %}">{{ entry.filename_dst_text }}</a></td>
                    <td><a href="{% url 'nconfig:detail' entry.filename_dst_text %}">{{ entry.is_updated_to_hostname_db }}</a></td>
                </tr>
                    {% endfor %}
                {% else %}
                    <p>The DB is empty.</p>
                {% endif %}
              </tbody>
            </table>
          </div>
<h3>添加目录中所有文件到配置文件数据库</h3>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" id="directory" name="file" multiple = "true" webkitdirectory="true" directory = "true">
    <script>
    directory.onchange = function() {
        var files = this.files;
        var table = {};

        for (var i = 0; i < files.length; i++) {
            var f = files[i];
            var dt = new Date(f.lastModified);

            table[i] = {
                path: f.webkitRelativePath,
                size: f.size,
                modified: dt.toLocaleString()
            };
        }

        console.table(table);
        };
    </script>
	<input type="submit" value="提交" />
</form>
      <hr>
    <h3>添加单个文件到配置文件数据库</h3>
<form method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    <input type="file" id="file" name="file">
	<input type="submit" value="提交" />
</form>
  <hr>
        <h3>添加多个文件到配置文件数据库</h3>
<form method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    <input type="file" id="files" name="file" multiple = "true">
	<input type="submit" value="提交" />
</form>

</div>

{% endblock body_extra %}