{% extends "nconfig/base.html" %}
{% load static %}
{% block head_extra %}
<!-- Custom styles for this template -->
<!-- href="{% static "bootstrap-3.3.5/css/dashboard.css" %}" rel="stylesheet"> -->
<link href="{% static 'bootstrap-3.3.5/css/dashboard.css' %}" rel="stylesheet">
{% endblock head_extra %}

{% block body_extra %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
            </div>
          <h2 class="sub-header">工具集</h2>
          <h2 class="sub-header">配置文件数据库信息</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>源文件名</th>
                  <th>文件加入时间</th>
                  <th>目标文件名</th>
                  <th>是否加入设备名数据库</th>
                </tr>
              </thead>
              <tbody>
                {% if all_entries %}
                    {% for entry in all_entries %}
                <tr>
                    <td id="rows"><a href="{% url 'nconfig:detail' entry.filename_dst_text %}">{{ forloop.counter }}</a></td>
                    <td><a href="{% url 'nconfig:detail' entry.filename_dst_text %}">{{ entry.filename_src_text }}</a></td>
                    <td><a href="{% url 'nconfig:detail' entry.filename_dst_text %}">{{ entry.fileadd_date }}</a></td>
                    <td><a href="{% url 'nconfig:detail' entry.filename_dst_text %}">{{ entry.filename_dst_text }}</a></td>
                    <td><a href="{% url 'nconfig:detail' entry.filename_dst_text %}">{{ entry.is_updated_to_hostname_db }}</a></td>
                </tr>
                    {% endfor %}
                {% else %}
                    <p>The DB is empty.</p>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
{% endblock body_extra %}